// colors
$white: #FFFFFF;
$black: #000000;
$white-smoke: #ECECEC;
$solitude: #F3F4F5;
$night-rider: #333;
$navy-blue: #0277bd;
$empress: #757575;

// Sizes
$top-navbar-height: 3.25rem;
$sidebar-width: 270px;

// Margins, paddings and borders
$page-content-padding: 24px;

// sections colors
$body-color: $white-smoke;

$top-navbar-color: $navy-blue;
$top-navbar-link-color: $white;

$sidebar-color: $white;

$overlay-color: rgba($night-rider, 0.55);
$search-navbar-color: $solitude;
$user-dropdown-text-color: $empress;
$badge-navbar-color: $white;
$badge-navbar-bg-color: rgba($black, 0.5);
