// Bulma Colors
////////////////////////////////////////////////
$black:        hsl(0, 0%, 4%) !default;
$black-bis:    hsl(0, 0%, 7%) !default;
$black-ter:    hsl(0, 0%, 14%) !default;

$grey-darker:  hsl(0, 0%, 21%) !default;
$grey-dark:    hsl(0, 0%, 29%) !default;
$grey:         hsl(0, 0%, 48%) !default;
$grey-light:   hsl(0, 0%, 71%) !default;
$grey-lighter: hsl(0, 0%, 86%) !default;

$white-ter:    hsl(0, 0%, 96%) !default;
$white-bis:    hsl(0, 0%, 98%) !default;
$white:        hsl(0, 0%, 100%) !default;

$orange:       hsl(14,  100%, 53%) !default;
$yellow:       hsl(48,  100%, 67%) !default;
$green:        hsl(141, 71%,  48%) !default;
$turquoise:    hsl(171, 100%, 41%) !default;
$blue:         hsl(217, 71%,  53%) !default;
$purple:       hsl(271, 100%, 71%) !default;
$red:          hsl(348, 100%, 61%) !default;
//  Primary colors
$primary: $turquoise !default;

$info   : $blue !default;
$success: $green !default;
$warning: $yellow !default;
$danger : $red !default;

$light: $white-ter !default;
$dark : $grey-darker !default;

// colors
////////////////////////////////////////////////

// $white: #FFFFFF;
// $black: #000000;
$white-smoke    : #ECECEC;
$solitude       : #F3F4F5;
$night-rider    : #333;
$navy-blue      : #0277bd;
$empress        : #757575;
$tundora        : #4a4a4a;
$silver         : #CCCCCC;
$gainsboro      : #E5E5E5;
$cod-grey       : #0A0A0A;
$havelock-blue  : #4b9cdb;
$science-blue   : #0366D6;
$polo-blue      : #92B0D3;
$cornflower-blue: #66afe9;
$hawkes-blue    : #D3E6FD;
$dodger-blue    : #2196F3;

// Sizes
////////////////////////////////////////////////
$top-navbar-height: 3.25rem;
$top-navbar-dropdown-min-width: 5.25rem;
$sidebar-width: 270px;
$sidebar-userview-height: 185px;
$sidebar-userview-profile-size: 64px;

// Margins, paddings and borders
////////////////////////////////////////////////
$page-content-padding: 26px;

// sections colors
////////////////////////////////////////////////
$body-color: $white-smoke;
$input-focus-border-color: $cornflower-blue;

$top-navbar-color: $navy-blue;
$top-navbar-link-color: $white;
$top-navbar-dropdown-color: $white;
$top-navbar-dropdown-link-color: $empress;
$top-navbar-dropdown-link-hover-bg-color: $gainsboro;
$top-navbar-dropdown-border-color: rgba($black, 0.2);

$sidebar-color: $white;
$sidebar-userview-profile-color: $white;
$sidebar-submenu-bullet-color: $gainsboro;
$sidebar-item-active-bg-color: $dodger-blue;
$sidebar-item-active-color: $white;
$sidebar-item-hover-color: $dodger-blue;

$tab-link-color: $dodger-blue;
$tab-active-color: $tundora;

$overlay-color: rgba($night-rider, 0.55);
$search-navbar-color: $solitude;
$user-dropdown-text-color: $empress;
$badge-navbar-color: $white;
$badge-navbar-bg-color: rgba($black, 0.5);

// Loading colors
$loading-overlay-color: rgba($cod-grey, 0.75);
$loading-line-color: $havelock-blue;

// Form elements colors
$switch-active-color  : $dodger-blue;
$switch-inactive-color: $silver;
$switch-slider-color  : $white;

// file-manager colors
$fm-item-icon-color: $polo-blue;
$fm-item-name-color: $science-blue;

$fu-clickable-color     : $hawkes-blue;
$fu-details-color       : $empress;
$fu-details-status-color: $tundora;