/*//////////////////////////////////////////////////////////////////////
// Query for devices with screen SMALLER than 768px (mobile)
//////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 768px) {

/* Top Navbar 
================================================================*/
.sa-navbar {
    .nav-item {
        padding: 0.5rem 0.2rem;
    }
    .icon .fa {
        font-size: 16px;
    }
}

/** Form
================================================================ */
.sa-form-horizontal-label {
  text-align: inherit; 
}

} // End of query for mobile devices


/*//////////////////////////////////////////////////////////////////////
// Query for devices with screen WIDER than 768px (tablets+)
//////////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 769px) {

.sa-main-content {
  // When main sidebar is active and RTL
  &.sa-is-rtlcontent {
    margin-right: $sidebar-width;
  } 
  // When main sidebar is active and LTR
  &.sa-is-ltrcontent {
    margin-left: $sidebar-width;
  }
}

} // End of query for tablet+ devices