/* custom scss rules */

body {
  height: 100vh;
  background-color: $body-color;
}
.input:focus, textarea:focus, select:focus {
  border-color: $input-focus-border-color !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}


/* Flex modifiers
================================================================*/

.sa-row-reverse {
  flex-direction: row-reverse;
}

.sa-flex-start {
  justify-content: flex-start;
}


/* Top Navbar
================================================================*/

.nav {
  background-color: $top-navbar-color;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
  height: $top-navbar-height;
  & a {
    color: $top-navbar-link-color;
  }
}

.nav-fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

// Navbar dropdown's rules
.sa-nav-dropdown {
  & a.sa-dropdown-heading {
    z-index: 12;
  } // TODO: fix the dropdown's position problem for mobile devices.
  & ul {
    position: absolute;
    top: $top-navbar-height;
    min-width: $top-navbar-dropdown-min-width;
    padding: 5px 0;
    background-color: $top-navbar-dropdown-color;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    z-index: 13;
    & span.sa-dropdown-up-arrow {
      position: absolute;
      top: -8px;
      left: 44%;
      color: $top-navbar-dropdown-color;
    }
    & li {
      border-bottom: 1px solid $top-navbar-dropdown-border-color;
    }
    & li:last-child {
      border-bottom: none;
    }
    & a {
      display: block;
      padding: 5px 22px;
      color: $top-navbar-dropdown-link-color;
      &:hover {
        background-color: $top-navbar-dropdown-link-hover-bg-color;
      }
    }
  }
  & .sa-dropdown-clickaway {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
  }
}


/* Search Form
================================================================ */

.sa-search-nav {
  height: $top-navbar-height;
  & .sa-search-wrapper {
    flex-grow: 1;
  }
  & input {
    height: $top-navbar-height;
    border-radius: 0;
  }
  & .icon {
    top: calc((#{$top-navbar-height} - 36px) / 2) !important;
  }
  & .sa-search-close {
    pointer-events: auto !important;
    cursor: pointer;
  }
}

// Transition effect classes for search form
.sa-search-enter,
.sa-search-leave-to {
  opacity: 0;
}

.sa-search-enter-active,
.sa-search-leave-active {
  transition: opacity 0.5s;
}


/* Main Wrapper
================================================================*/

.sa-main-wrapper {
  padding-top: $top-navbar-height;
}


/* Sidebar's Rules
================================================================*/

.sa-sidebar {
  position: fixed;
  top: $top-navbar-height;
  bottom: 0;
  width: $sidebar-width; // padding-top: 1rem;
  height: calc(100% - #{$top-navbar-height});
  background-color: $sidebar-color;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  z-index: 9;
  & .menu-label {
    padding: 0 8px;
  }
  & .menu-list {
    padding: 0 5px;
    & a {
      font-size: 14px;
    }
    a:hover {
      color: $sidebar-item-hover-color;
    }
    a.is-active {
      background-color: $sidebar-item-active-bg-color;
      color: $sidebar-item-active-color;
    }
  }
  & .icon .fa {
    font-size: 16px;
  } // Rules for sidebar's userview section
  & .sa-userview {
    margin-bottom: 24px;
    & img {
      max-width: none;
    }
    & .sa-userview-background {
      overflow: hidden;
      ;
      z-index: -1;
      height: $sidebar-userview-height;
    }
    & .sa-userview-profile {
      position: absolute;
      top: calc(#{$sidebar-userview-profile-size} / 2);
      &.sa-profile-rtl {
        right: calc(#{$sidebar-userview-profile-size} / 2);
      }
      &.sa-profile-ltr {
        left: calc(#{$sidebar-userview-profile-size} / 2);
      }
      & .title,
      .subtitle {
        color: $sidebar-userview-profile-color;
      }
      & img.sa-circle {
        width: $sidebar-userview-profile-size;
        height: $sidebar-userview-profile-size;
        border-radius: 50%;
      }
    }
  } // Rules for sidebar's submenu
  & .sa-sidebar-submenu {
    & li {
      position: relative;
    } // Submenu bullets - LTR Sidebar
    & li::before {
      background: $sidebar-submenu-bullet-color;
      bottom: auto;
      content: "";
      height: 8px;
      left: -16px;
      margin-top: 11px;
      position: absolute;
      right: auto;
      width: 8px;
      z-index: 1;
      border-radius: 50%;
    }
    & a {
      font-size: 13px;
    }
  }
}
.sa-sidebar-modal-background {
  z-index: 8;
}

// rules for sidebar when RTL is activated
.sa-is-rtlsidebar {
  right: 0;
  direction: rtl;
  & .menu-list li ul {
    border-left: none;
    border-right: 1px solid #dbdbdb;
    margin: 0.75em;
    padding-left: 0;
    padding-right: 0.75em;
  } // Submenu bullets - RTL sidebar
  & .sa-sidebar-submenu {
    & li::before {
      background: $sidebar-submenu-bullet-color;
      content: "";
      position: absolute;
      height: 8px;
      width: 8px;
      right: -16px;
      left: auto;
      bottom: auto;
      margin-top: 11px;
      z-index: 1;
      border-radius: 50%;
    }
  }
}

// Submenu transition effects
// transition name: `sa-submenu-anm`
.sa-submenu-anm-enter,
.sa-submenu-anm-leave-to {
  transform: scaleY(0);
  transform-origin: top;
}

.sa-submenu-anm-enter-active,
.sa-submenu-anm-leave-active {
  transition: all .3s ease-in-out;
}


/* Main content
================================================================ */

.sa-main-content {
  padding: 26px; // When sidebar is hidden
  &.sa-content-nosidebar {
    margin-left: 0 !important;
    margin-right: 0 !important;
  } // When main sidebar is active and RTL
  &.sa-is-rtlcontent {
    margin-right: $sidebar-width;
  } // When main sidebar is active and LTR
  &.sa-is-ltrcontent {
    margin-left: $sidebar-width;
  }
}


/** Loadings
================================================================ */

.sa-loading-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $loading-overlay-color;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  z-index: 999;
}

.sa-loading-wrapper {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  border-radius: 50%;
  padding: 20px 20px 20px;
  text-align: center;
  
  .sa-load-1 {
    margin-top: 10px;
    .sa-line {
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 15px;
      background-color: $loading-line-color;
    }
    /* Animate the stuff
    ------------------------ */
    & .sa-line:nth-last-child(1) {
      animation: loadingA 1.5s 1s infinite;
    }
    & .sa-line:nth-last-child(2) {
      animation: loadingA 1.5s .5s infinite;
    }
    & .sa-line:nth-last-child(3) {
      animation: loadingA 1.5s 0s infinite;
    }
    @keyframes loadingA {
      0 {
        height: 15px;
      }
      50% {
        height: 35px;
      }
      100% {
        height: 15px;
      }
    }
  }
}

/** Form
================================================================ */
.sa-form-horizontal-label {
  text-align: left;
  margin-left: 1.5rem;
  margin-right: 0;
}