/**
* Direction
****************************************************************************/
.ltr {
  direction: ltr !important;
}
.rtl {
  direction: rtl !important;
}

.text-align-right {
  text-align: right !important;
}
.text-align-left {
  text-align: left !important;
}