/**
* Direction
****************************************************************************/
.ltr { direction: ltr !important; }
.rtl { direction: rtl !important; }
.text-align-right { text-align: right !important; }
.text-align-left { text-align: left !important; }

/**
* Position
****************************************************************************/
.fixed { position: fixed !important; }
.absolute { position: absolute !important; }
.relative { position: relative !important; }
.static { position: static !important; }

/**
* Display
****************************************************************************/
.nodisplay { display: none !important; }
.flex { display: flex !important; }
.inline-flex { display: inline-flex !important; }
.block { display: block !important; }
.inline-block { display: inline-block !important; }

/**
* Flex
****************************************************************************/
.flex-row { flex-direction: row !important; }
.flex-row-reverse { flex-direction: row-reverse !important; }
.flex-column { flex-direction: column !important; }
.flex-column-reverse { flex-direction: column-reverse !important; }
.flex-justify-start { justify-content: flex-start !important; }
.flex-justify-end { justify-content: flex-end !important; }
.flex-justify-center { justify-content: center !important; }
.flex-align-start { align-items: flex-start !important; }
.flex-align-end { align-items: flex-end !important; }
.flex-align-center { align-items: center !important; }

/**
* Width & height
****************************************************************************/
.width-100 { width: 100% !important; }
.width-75 { width: 75% !important; }
.width-50 { width: 50% !important; }
.width-25 { width: 25% !important; }
.height-100 { height: 100% !important; }
.height-75 { height: 75% !important; }
.height-50 { height: 50% !important; }
.height-25 { height: 25% !important; }

/**
* Padding
****************************************************************************/
.p1 { padding: 1rem !important; }
.p1_25 { padding: 1.25rem !important; }
.p1_50 { padding: 1.5rem !important; }
.p1_75 { padding: 1.75rem !important; }
.p2 { padding: 2rem !important; }
.p3 { padding: 3rem !important; }

/**
* Margin
****************************************************************************/
.m1 { margin: 1rem !important; }
.m1_25 { margin: 1.25rem !important; }
.m1_50 { margin: 1.5rem !important; }
.m1_75 { margin: 1.75rem !important; }
.m2 { margin: 2rem !important; }
.m3 { margin: 3rem !important; }